

.studioworks_grid {
    // background-color: red;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: var(--default_padding) var(--default_padding);
}
.studioworks_anchor {
    display: block;
}

.studioworks_canvas {
    height: 0x;
    padding-bottom: 120%;
    position: relative;
}

.works_tab {
    width: auto;
    margin: var(--default_padding) 0 10px 0;
    font: {
        size: 1.5rem;
        weight: 500;
    }
    display: flex;
    flex-direction: row;
    align-items: center;

    > a {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            margin-left: 5px;
            padding-top: 5px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}



/* Mobile */
@media screen and (max-width: 700px) {

    .studioworks_grid {
        grid-template-columns: auto auto;
        gap: var(--default_padding_mobile) var(--default_padding_mobile);
    }

    .works_tab {
        font: {
            size: 1.2rem;
        }
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 900px) {

    .studioworks_grid {
        grid-template-columns: auto auto auto;
    }
}