
$button-margin: 10px;

.header {
    width: calc(100% - (var(--default_padding) * 2));
    height: 70px;
    margin: 0 auto;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--default_padding);

    background-color: var(--color_white);
    position: fixed;
    top: 0;
    left: 0;
}
.header_three,
.header_one {
    width: 30%;
}
.header_two {
    width: 40%;
    text-align: center;

    > a {
        margin-right: $button-margin;
    }

    button {
        width: auto;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font: {
            size: 1.1rem;
        }

        &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-thickness: 2px;
        }
    }
}
.header_three {
    text-align: right;

    button {
        width: auto;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: transparent;

        > svg {
            width: 25px;
            height: 25px;
        }
    }
}